---
import '../styles/global.css';
import { AppConfig } from '../utils/AppConfig';
import { Font } from 'astro:assets';
import { enabledWidths } from '@config/astro/fonts';

export interface Props {
  pageTitle?: string;
  pageDescription?: string;
}

const { pageTitle, pageDescription } = Astro.props as Props;
const title = pageTitle ? `${pageTitle} | ${AppConfig.title}` : AppConfig.title;
const description = pageDescription || AppConfig.description;
---
<!doctype html>
<html lang={AppConfig.locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" />
		<Font cssVariable="--font-verb" preload />
		{enabledWidths.condensed && <Font cssVariable="--font-verbcond" preload />}
		{enabledWidths.compressed && <Font cssVariable="--font-verbcomp" preload />}
		{enabledWidths.excond && <Font cssVariable="--font-verbexcond" preload />}
  </head>
  <body class="w-full px-4 bg-slate-100 text-slate-800 dark:bg-slate-950 dark:text-slate-300 antialiased">

		<div class="container mx-auto sm:px-6 lg:px-8">

			<header class="border-b border-gray-300">
				<div class="pt-16 pb-8">
					<h1 class="text-3xl font-bold">{AppConfig.title}</h1>
					<h2 class="text-xl">{AppConfig.description}</h2>
				</div>
				<nav>
					<ul class="flex flex-wrap text-xl">
						<li class="mr-6">
							<a class="border-none" href="/">Home</a>
						</li>
						<li class="mr-6">
							<a class="border-none" href="/contact/">Contact</a>
						</li>
					</ul>
				</nav>
			</header>

			<main class="content py-5 text-xl">
				<slot />
			</main>

			<footer class="border-t border-gray-300 py-8 text-center text-sm">
				© Copyright {new Date().getFullYear()} {AppConfig.title}. 
			</footer>

		</div>
		
  </body>
</html>
